body {
    background-color: #1d1e22;
    color: #e2e2e2;
    font-size: 14px;
    font-family: "Roboto Flex", Arial, sans-serif;
    margin: 0px;
	height: 100%;
}

html {
   position: relative;
   height: 100%;
}

.main {
    /* overflow: hidden; */
	height: 100%;
}

main {
	height: 100%;
}

.navbar {
    float: left;
    width: 270px;
	height: 100%;
}

.leftnavbar {
    float: left;
	width: 100%
}

.minnav{
	width: 40%;
}

.rightnavbar {
    float: left;
    width: 60%;
}

.navbar a{
	display: block;
        -webkit-user-drag: none;
        cursor: pointer;
        text-decoration: none;
        color: #e2e2e2;
        line-height: 46px;
        vertical-align: middle;
		padding: 0px 15px;
}


.rightnavbar a {
    width: calc(100% - 31px);
	border-right: 1px solid #1d1e22;
	background-color: #303134;
}

a:-webkit-any-link {
    color: #e2e2e2;
    cursor: pointer;
    text-decoration: none;
}

a.chosen {
    color: #28ce63;
    background: #232427;
}

.bigwindow {
    width: calc(100% - 272px);
	height: 100%;
    float: left;
}

.mainlist {
    width: 100%;
	height: calc(100% - 2px);
    border: solid 1px #303134;
	border-top: none;
}

.listlines {
	float: left;
	height: calc(100% - 92px);
	width: calc(100% - 401px);
	position: relative;
}

.fullview{
	width: 100%;
}

.columnname {
    font-weight: bold;
    text-align: center;
	border-bottom: 1px solid #1d1e22;
	background-color: #303134;
	line-height: 46px;
	vertical-align: middle;
}

div.circle{
	display: inline;
	float: left;
	height: 20px;
	width: 20px;
	border:1px solid #e2e2e2;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
	margin-top: 13px;
}

.navcolumnname {
    font-weight: bold;
    width: calc(100% - 16px);
    border-right: 1px solid #1d1e22;
	border-bottom: 1px solid #1d1e22;
	background-color: #303134;
	line-height: 46px;
	padding-left: 15px;
}

.add {
	background-color: #1d1e22;
	height: 57px;
}

.textline {
	position: relative;
    width: calc(100% - 10px);
    padding: 10px 5px;
}

input.inputtext{
	margin: 0px;
    width: calc(100% - 20px);
    display: block;
    border-radius: 3px;
    box-shadow: none;
	appearance: none;
    position: relative;
    padding: 8px 10px;
    font-size: inherit;
    border: 1px solid rgba(226,226,226,0.2);
    background: #232427;
    color: #e2e2e2;
	margin: 0px;
}

button.i{
	display: inline;
	position: relative;
	float: right;
	border: none;
	background: #232427;
	font-size: 28px;
    width: 34px;
    right: 4px;
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    float: right;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    padding: 0;
	color: #e2e2e2;
}

.row {
	line-height: 60px;
	vertical-align: middle;
	background-color: #303134;
	border-bottom: 1px solid #1d1e22;
}

.completed{
	opacity: 0.5;
}

div.i{
	display: inline;
	float: right;
	height: 46px;
	width: 46px;
	font-size: 24px;
	/* background-color: gold; */
}

form {
	display: inline;
}

button.done{
	float: left;
	height: 60px;
	width: 60px;
	appearance: none;
	background-color: #303134;
	padding: 0px;
	cursor: pointer;
	border: none;
}

span.circle{
	float: left;
	height: 26px;
	width: 26px;
	border:1px solid #e2e2e2;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
	margin-left: 16px;
}

span.checkmark {
	color: #e2e2e2;
	font-size: 18px;
	background-color: #232427;
	text-align: center;
	vertical-align: center;
}

.checkmark p{
	font-size: 18px;
	margin: 0px;
}

button.starbutton {
	float: right;
	height: 60px;
	width: 60px;
	appearance: none;
	background-color: #303134;
	padding: 0px;
	cursor: pointer;
	border: none;
}

span.star {
	border:1px solid #28ce63;    
}

.urgent{
	background-color: #28ce63;
}

.details{
	float: left;
	width: 400px;
	height: calc(100% - 91px);
	color: #e2e2e2;
	border-left: 1px solid #303134;
	box-shadow: 0 0 25px rgb(0 0 0 / 35%);
	z-index: 10;
}

.bottom {
	width: calc(100% - 272px);
	position: absolute;
	bottom:0;
	font-size: 12px;
	border: none;
}

.footer {
    text-align: left;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    color: #CCCCFF;
    text-decoration: none;
}

.type3::after, .type3::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #CCCCFF;
    border-right-color: #CCCCFF;
}

.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #CCCCFF;
    border-left-color: #CCCCFF;
}

.type3:hover:after, .type3:hover:before {
    border-bottom-color: #CCCCFF;
    border-right-color: #CCCCFF;
    border-top-color: #CCCCFF;
    border-left-color: #CCCCFF;
    width: 100%;
    height: 100%;
}
