@page
@model ToDoList.Pages.ListModel
@{
    ViewData["Title"] = "Hello World!";
}
<h1>@ViewData["Title"]</h1>

@if(Model.hasData)
{
    <p>* @Model.taskName</p>
}

<div>
    <form method="post">
        <label for="task">Add task</label><br>
        <input type="text" id="taskn" name="taskname"><br>

        <input type="submit" value="Submit">
    </form>
</div>

