@page
@model ToDoList.Pages.ProjectModel
@{
}

<header>
    <div class="navbar">
          <a asp-page="/Index">Priority</a>
          <a asp-page="/Inbox">Inbox</a>
          <a asp-page="/Project" class="chosen">Projects</a>
          <a asp-page="/Category">Categories</a>
    </div>
</header>
