<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Flex' rel='stylesheet'>
</head>
<body>
    <div>
        <header>
            <div class="navbar">
                <a asp-page="/Index" class="chosen">Priority</a>
                <a asp-page="/Inbox">Inbox</a>
                <a asp-page="/Project">Projects</a>
                <a asp-page="/Category">Categories</a>
                @*<a>Calendar</a>*@
            </div>
        </header>

        <div class="main">
            <main role="main">
            @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        <div class="footer">
			<a href="index.html" class="button type3">Back home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>